apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: ms-order-secrets
  namespace: default
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: aws-ssm
    kind: ClusterSecretStore
  target:
    name: ms-order-secrets
    creationPolicy: Owner
  data:
    - secretKey: MONGODB_URI
      remoteRef:
        key: /ms-order/mongodb/uri
